@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=PT+Sans:wght@400;700&display=swap');



.txt-titulo{
    font-family: "Cedarville Cursive ",cursive;
    font-size: 4rem;
    color: #72401c;
    font-weight: normal;
    text-align: center;
    margin-top: 2rem;
}
*{

    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
:root{
    --bg-color:#D3D1DF;
    --bg-form-color:#FFFFFF;
    --bg-banner-color:#F4F5F9;
    --border-input-color: #CBCBCB;
    --primary-color: #72401c;
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/backgounds/fondo_login.jpeg");
}

/*Container*/
.container{
    width: 64rem;
    height: 40rem;
    border-radius: 0.3rem;
    background-color: var(--bg-form-color);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
/*Form*/
.form-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.2rem;

}
.form{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    overflow: hidden;
}

/*Login*/
.login, .registro{
    width: 65%;
    position: absolute;
    top: 50%;
}
.login{
    transform: translateY(-50%);
    transition: transform 0.8s, opacity 0.8s;
    opacity: 1;
}
.form.toggle .login{
    transform: translateY(-170%);
    opacity: 0;
}
.registro{
    transform: translateY(100%);
    transition: transform 0.8s, opacity 0.8s;
    opacity: 0;
}
.form.toggle .registro{
    transform: translateY(-50%);
    opacity: 1;
}
.form h2{
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
}
.form p{
    font-size: 1rem;
    margin-bottom: 1.8rem;
}

/*Inputs*/

.form .input{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 0.9rem;
    align-items: center;
}
.form .input label{
    width: 80%;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;

}
.form .input input{ /*Esto da estilo a los que extraen la info jaja olvide su nombre no manchen :( */
    width: 80%;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #CBCBCB;
    border-radius: 0.2rem;
    padding: 10px 0;
    text-align: center;
}
.form .input input:focus{
    border-bottom: 2px solid var(--primary-color);
}
/*Buttons*/
.form .buttons{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1rem;
}
.form .buttons button{
    width: 100%;
    padding: 0.7rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    outline:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}
.form .buttons button:first-child{
    background-color: var(--primary-color);
    color: white;
}
.form .buttons button:hover { 
    background-color: #705822; 
}

/*cuenta*/
.form .cuenta{
    text-align: center;
    font-size: 0.75rem;
    margin: 1rem;
}


.banner{
    background-color: var(--bg-banner-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #FFFFFF;
}
.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(
        20% 0%,
        100% 0%,
        100% 100%,
        20% 100%,
        8% 80%,
        18% 60%,
        10% 40%,
        18% 20%
    );
}
